.te-selectedicon { background: #D2E1F4 }
.te-currenttheme { font-weight: bold }


.taopage-container {
    width: 158px;
    height:120px;
}

.taopage-wrap {
    width: 158px;
}

.taopage-wrap .x-item-selected {
    background-color: #B7CDE4;
}

.taopage-container:hover {
    background-color: #93DBFF;
}

.taopage {
    margin-top: 5px;
    margin-left: 20px;
    border: 1px solid #333333;
    width: 122px;
    -moz-box-shadow: 3px 3px 3px 0px #656565;
    -webkit-box-shadow: 3px 3px 3px 0px #656565;
    -o-box-shadow: 3px 3px 3px 0px #656565;
    box-shadow: 3px 3px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=3);
}

.taopage-img img {
    width:120px;
    height: 80px;
}

.taopage-name {
    background-color: #EEE;
    height: 30px;
    color: #000;
    text-align:center;
    border-bottom: 1px solid #333333;
}

.grid-drop-indicator {
    background-color: #77BC71;
    height: 5px;
    width:5px;
    line-height: 0;
    overflow: visible;
    pointer-events: none;
}

/* Force mask to be not displayed because it bugs on
Chrome/Safari (it gives a empty zone below the page) */
.x-mask {
    display: none !important;
}

/* iconCls property of the fieldset */
.x-tool-close
{
    background-image: url('app/resources/images/delete.png') !important;
    background-position: 0 2px !important;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

/* Remove icon in tree view */
.no-icon
{
    display : none;
    background-image:url('ext/resources/images/default/s.gif') !important;
}

/* Show class template inline */
.slide-template
{
    display: inline-block;
    width: 120px;
    text-align: center
}

.slide-template img
{
    width: 120px;
    height: 80px;
}
