<html>
<head>

    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- Select UI theme  -->

    <!-- link rel="stylesheet" type="text/css" href="ext-4/resources/css/ext-all.css" -->
    <link rel="stylesheet" type="text/css" href="ext-4/resources/css/ext-all-neptune.css">
    <link rel="stylesheet" type="text/css" href="app.css">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="xcode.css">

    <!-- Load ExtJS -->

    <script type="text/javascript">
        function ErrorHandler() {
            document.write('<img src="http://www.javascriptkit.com/Wallace.gif"/><p>' +
            'Cannot load ExtJS!<p>Either you did not download the ExtJS SDK, ' +
            'or you did not extract it to the expected location.<p>Here is how to fix this:<p>' +
            '<ul><li> Download ExtJS 4.2.1. from <a href="http://www.sencha.com/products/extjs/download/ext-js-4.2.1/2281"> ' +
            'this link</a><li> Extract it under ./www/ext-4 (or make a symbolic link)<li> Reload this page' +
            '<li> Enjoy ;-)</ul>');
        }
    </script>
    <script type="text/javascript" src="ext-4/ext-debug.js" onerror="ErrorHandler()"></script>

    <!-- Load the TinyMCE HTML editor -->

    <script type="text/javascript" src="ext-tinymce/ux/form/field/tinymce/tiny_mce.js"></script>

    <!-- Load the Highlight.js coloring -->

    <script type="text/javascript" src="highlight.js"></script>

    <!-- Apply ExtJS translations and set application language -->

    <%- setLanguage() %>

    <!-- Load application -->

    <script type="text/javascript" src="app.js" charset="UTF-8"></script>

</head>
<body></body>
</html>
